body{
    font-family: sytem-ui;
}

.container {
    display: grid;
    grid-template: 100px 1fr 150px / 200px 1fr;
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "header header" "left content" "footer footer";
}
.item{ 
    background-color: lightblue;
    padding: 10px;
    border: 1px solid red;
}


.item .item{
    background: yellowgreen;
}

.header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}